RewriteEngine On
RewriteBase /

# Chuyển tất cả request không phải file hoặc thư mục thực tế về index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
